*{
    border: 0px;
    padding: 0px;
    /* box-sizing:  ; */
}
body{
    background-color: #eee;
    background-image: url(instta.png);
    background-repeat: no-repeat;
    background-position: 370px 69px;
    background-size: 350px 570px;
    
}
img{
    width: 262px;
    height: 473px;
    padding-left: 387px;
    padding-top: 50px;
}
.side1{
    border: 1px solid #e6e6e6;
    height: 390px;
    width: 327px;
    position: absolute;
    right: 430px;
    top: 67px;
    background-color: #fff;
    text-align: center;
}
.side1 img{
    height: 50px;
  width: 175px;
  margin: auto;
  position: relative;
  right: 316px;
  top: -22px;
}
input{
    border: 1px solid #dbdbdb;
  /* box-sizing: border-box; */
  width: 246px;
  height: 29px;
  font-size: 12px;
  padding-left: 8px;
  border-radius: 3px;
  margin: 3px;
  background-color: rgb(248, 245, 245);
}
.btn{
    margin-top: 10px;
    width: 257px;
    font-size: 13px;
    height: 30px;
    color: white;
    background-color:#3897f0;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}
.or{
    font-size: 13px;
    color: #999999;
    position: relative;
    
}
.or::before,
.or::after{
    content: "";
    position: absolute;
    background-color: #eee;
    width: 100%;
    height: 2px;
    top: 80%;
    /* transform: translateY(-50%); */

}
.or::before{
    left: 50px;
}
.or::after{
    right: 50px;
}

.fb img{
    height: 14px;
    width: 14px;
    /* display: inline; */
}
.span {
    position: relative;
    top: -40px;
    color: #385185;
    font-weight: bold;
}


.fb p{
    position: relative;
    top: -40px;
}
.forgot{
    color: #003569;
    font-size: 14px;
    margin-top: 25px;

}

 .side2{ 
    border: 1px solid #e6e6e6;
    height: 39px;
    width: 327px;
    position: absolute;
    right: 430px;
    top: 468px;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;

}
.side2 span{
    color: #3897f0;
    font-weight: bold;
}
.side3{
    border: 1px solid #e6e6e6;
    height: 39px;
    width: 327px;
    position: absolute;
    right: 430px;
    top: 540px;


}
.side3 p{
    text-align: center;
    color: #262626;
}
.apple img{
    width: 37%;
    height: 35px;
    position: relative;
    right: 348px;
    top: -40px;

}
.play img{
    width: 53%;
    height: 74px;
    position: relative;
    right: 245px;
    top: -148px;

}
.apple a:hover{
    cursor: pointer;
}
.foot{
    margin-top: 722px;
    margin-left: 183px;
    word-spacing: 10px;
    font-size: 14px;
    color: #003569;
    
}
.foot a{
     text-decoration: none;
     font-size: 12px;
     font-weight: 30px;
     font-weight: bold;

}
.copy{
    word-spacing: 2px;
    color: #999999;
    font-weight: bold;
    font-size: 13 px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
#do{
    color: rgb(156, 141, 141);
    font-weight: lighter;
}